<div class="flex items-center justify-center min-h-screen">
  <div class="w-full max-w-md bg-white rounded-lg shadow-md p-8">
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="space-y-6">

      <mat-form-field class="w-full bg">
        <mat-label class="text-blue-700">Email</mat-label>
        <input matInput type="email" id="email" formControlName="email" required >
      </mat-form-field>

      <mat-form-field class="w-full">
        <mat-label class="text-blue-700">Enter your password</mat-label>
        <input matInput [type]="hide() ? 'password' : 'text'" formControlName="password" />
        <button
          mat-icon-button
          matSuffix
          (click)="clickEvent($event)"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide()"
        >
          <mat-icon class="text-blue-700">{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>


      <button mat-raised-button type="submit" class="w-full  transition duration-300 ">
        Login
      </button>



      <div class="text-center">
        <a routerLink="/signup" class="text-blue-600 hover:underline cursor-pointer">Vous n'avez pas de compte? Créez-vous en un.</a>
      </div>
    </form>
  </div>
</div>
