<div class="container mx-auto p-6">
  <h1 class="text-2xl font-bold mb-4 text-white">Dashboard</h1>

  <div class="grid grid-cols-1 md:grid-cols-1 gap-6">
    <div class="bg-blue-900 text-white shadow-lg rounded-lg p-4">
      <h2 class="text-3xl font-semibold mb-3 text-center	">Comptes</h2>
      <ul class="list-disc pl-5 flex flex-row justify-between mt-10 md:flex flex-col sm:flex flex-col lg:flex flex-row xl:flex flex-row">
        <li>Compte A: $1,000</li>
        <li>Compte B: $2,500</li>
        <li>Compte C: $970</li>

      </ul>
    </div>

    <div class="bg-blue-900 text-white shadow-lg rounded-lg p-4">
      <h2 class="text-3xl font-semibold mb-3 text-center	">Dépenses Récentes</h2>
      <ul class="list-disc pl-5 flex flex-row justify-between mt-10 md:flex flex-col sm:flex flex-col lg:flex flex-row xl:flex flex-row">
        <li>Nourriture: $150</li>
        <li>Transport: $75</li>
        <li>Loisirs: $200</li>
      </ul>
    </div>

    <div class="bg-blue-900 text-white shadow-lg rounded-lg p-4">
      <h2 class="text-3xl font-semibold mb-3 text-center	">Catégories de Dépenses</h2>
      <ul class="list-disc pl-5 flex flex-row justify-between mt-10 md:flex flex-col sm:flex flex-col lg:flex flex-row xl:flex flex-row">
        <li>Alimentation</li>
        <li>Logement</li>
        <li>Transport</li>
        <li>Loisirs</li>
      </ul>
    </div>
  </div>
</div>
