.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Utilisez toute la hauteur de la vue */
}

.card {
  width: 50%;
  max-width: 500px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border: none;
  background-color: #fff;
  padding: 20px;
}

.form-control {
  border-radius: 10px;
  border: 1px solid #ccc;
}

.btn-primary {
  border-radius: 5px;
}

.btn-primary:hover {
  background-color: #333;
  cursor: pointer;
}
