<div class="flex items-center justify-center min-h-screen">
  <div class="w-full max-w-md bg-white rounded-lg shadow-md p-8">
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" class="space-y-6">
      <mat-form-field class="w-full ">
        <mat-label class="text-blue-700">Name</mat-label>
        <input matInput type="text" id="name" formControlName="name" required>
      </mat-form-field>

      <mat-form-field class="w-full">
        <mat-label class="text-blue-700 ">Email</mat-label>
        <input matInput type="email" id="email" formControlName="email" required>
      </mat-form-field>

      <mat-form-field class="w-full">
        <mat-label class="text-blue-700">Enter your password</mat-label>
        <input matInput [type]="hide() ? 'password' : 'text'" formControlName="password" />
        <button
          mat-icon-button
          matSuffix
          (click)="clickEvent($event)"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide()"
        >
          <mat-icon class="text-blue-700">{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>

      <button mat-raised-button  type="submit" class="w-full">
        Sign Up
      </button>

      <div class="text-center">
        <a routerLink="/login" class="text-blue-600 hover:underline">Vous avez déjà un compte? Connectez-vous.</a>
      </div>
    </form>
  </div>
</div>
