<mat-toolbar color="primary" class="bg-blue-700 text-white p-4 shadow-md flex justify-between items-center">
  <span class="text-xl font-bold">MoneyMonitor</span>

  <button mat-icon-button [matMenuTriggerFor]="menu" class="md:hidden">
    <mat-icon>menu</mat-icon>
  </button>

  <mat-menu #menu="matMenu" class="p-2">
    <button mat-menu-item routerLink="/home">Home</button>
    <button mat-menu-item routerLink="/signup">Inscription</button>
    <button mat-menu-item routerLink="/login">Connexion</button>
    <button mat-menu-item (click)="logout()">Logout</button>
  </mat-menu>

  <div class="hidden md:flex space-x-4">
    <a routerLink="/home" class="px-4 py-2 rounded-md hover:bg-blue-600">Home</a>
    <a routerLink="/signup" class="px-4 py-2 rounded-md hover:bg-blue-600">Inscription</a>
    <a routerLink="/login" class="px-4 py-2 rounded-md hover:bg-blue-600">Connexion</a>
    <a (click)="logout()" class="px-4 py-2 rounded-md hover:bg-blue-600 cursor-pointer">Logout</a>
  </div>
</mat-toolbar>
